# CONFIG_IDF_TARGET="esp32p4"
CONFIG_IDF_TARGET="esp32s3"
# CONFIG_IDF_TARGET="esp32c6"

# Transport selection (uncomment one):
# CONFIG_ESP_NETIF_L2_TAP=y    # IEEE 802.3 / EtherType 0x88F7 (L2 raw frame)
CONFIG_ESP_NETIF_L2_TAP is not set  # UDP/IPv4 port 319/320 (default)

CONFIG_EXAMPLE_USE_INTERNAL_ETHERNET=y
CONFIG_EXAMPLE_ETH_PHY_IP101=y

CONFIG_NETUTILS_PTPD=y
CONFIG_NETUTILS_PTPD_CLIENT=y
CONFIG_NETUTILS_PTPD_SERVER=y

CONFIG_ETH_SPI_ETHERNET_DM9058=y

#
# Example Ethernet Configuration
#
CONFIG_EXAMPLE_USE_SPI_ETHERNET=y
# (MANUAL, SPI_CONFIGURATIONS)
CONFIG_EXAMPLE_SPI_ETHERNETS_NUM=1
CONFIG_EXAMPLE_USE_DM9058=y
# CONFIG_EXAMPLE_USE_KSZ8851SNL is not set
# CONFIG_EXAMPLE_USE_W5500 is not set
CONFIG_EXAMPLE_ETH_SPI_HOST=1
CONFIG_EXAMPLE_ETH_SPI_SCLK_GPIO=16
CONFIG_EXAMPLE_ETH_SPI_MOSI_GPIO=17
CONFIG_EXAMPLE_ETH_SPI_MISO_GPIO=18
CONFIG_EXAMPLE_ETH_SPI_CLOCK_MHZ=20
CONFIG_EXAMPLE_ETH_SPI_CS0_GPIO=15
CONFIG_EXAMPLE_ETH_SPI_INT0_GPIO=8
CONFIG_EXAMPLE_ETH_SPI_POLLING0_MS=0
CONFIG_EXAMPLE_ETH_SPI_PHY_RST0_GPIO=-1
CONFIG_EXAMPLE_ETH_SPI_PHY_ADDR0=1
# CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192
# CONFIG_ESP_SYSTEM_EVENT_TASK_STACK_SIZE=8192

# CONFIG_MAIN_TASK_STACK_SIZE=8192
# CONFIG_SYSTEM_EVENT_TASK_STACK_SIZE=4096

CONFIG_NETUTILS_PTPD_SEND_DELAYREQ=y
CONFIG_NETUTILS_PTPD_MAX_PATH_DELAY_NS=100000
CONFIG_NETUTILS_PTPD_DELAYREQ_AVGCOUNT=100
CONFIG_NETUTILS_PTPD_PATH_DELAY_STABILITY_NS=500
# CONFIG_NETUTILS_PTPD_PATH_DELAY_STABILITY_NS=4000
